<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer List</title>
</head>

<body>
    <h1>Customer List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Actions</th> <!-- Add a column for actions -->
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.salutation }} {{ customer.firstname }} {{ customer.sirname }}</td>
                <td>{{ customer.address.street }}, {{ customer.address.number }}, {{ customer.address.zipcode }}, {{
                    customer.address.city }}, {{ customer.address.country }}</td>
                <td><a href="{{ url_for('show_customer_orders', customer_no=customer.id) }}">View Orders</a></td>
                <!-- Link to customer orders -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>