<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stacks for Order {{ order_no }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Stacks for Order {{ order_no }}</h1>
    <h2>Customer Information</h2>
    <p><strong>Customer ID:</strong> {{ customer_info.id }}</p>
    <p><strong>Name:</strong> {{ customer_info.firstname }} {{ customer_info.sirname }}</p>
    <p><strong>Address:</strong> {{ customer_info.address.street }}, {{ customer_info.address.number }}, {{
        customer_info.address.zipcode }}, {{ customer_info.address.city }}, {{ customer_info.address.country }}</p>


    {% for stack in stacks %}
    <h2>Stack {{ loop.index }}</h2>
    <ul>
        {% for box in stack %}
        <li>ID: {{ box.id }}, Name: {{ box.name }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
    <p><a href="{{ url_for('download_stacks', customer_no=customer_info.id, order_no=order_no) }}"
            target="_blank">Download as PDF</a></p>
</body>

</html>